.mainContent {
    flex-direction: column;
}

.headline {
    width: 100%;
    font-family: 'Caveat';
    font-weight: 700;
    font-size: 90px;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid black;
}

table {
    border-collapse: collapse;
}

tr {
    width: 450px;
    height: 150px;
}

.tableContent {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
}

td {
    width: 150px;
    border: 5px solid black;
}

table tr:first-child td {
    border-top: 0;
  }

table tr td:first-child {
    border-left: 0;
  }

table tr:last-child td {
    border-bottom: 0;
  }

table tr td:last-child {
    border-right: 0;
  }

